.title {
    margin: 0;
    color: @accent-color;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
}