@import "_normilize";
@import "_variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: @bg;
}